<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>e-Commerce GTek | Ver Ordenes</title>
</head>
<body>
    <header class="header">
        <nav>
          <div class="logo">
            <a href="/">e-<span>Commerce</span></a>
          </div>
          <input type="checkbox" id="menu-toggle">
          <label for="menu-toggle" class="menu-icon">&#9776;</label>
          <ul class="menu">
            <li><a href="/">Ver ordenes</a></li>
            <li><a href="searchOrder">Buscar orden</a></li>
            <li><a href="newOrder">Generar orden</a></li>
          </ul>
        </nav>
    </header>
    <section>
        <h1>Listado de ordenes</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Creado en</th>
                    <th>Descripción</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="contact-area" id="contact">
        <div class="container">
            <div class="contact-content text-center">
                <a href="#"><img src="https://guatemaltek.com/wp-content/uploads/2023/05/Logo-nobg-150px-height.png" alt="logo"></a>
                <p>Desarrollado por el equipo #1</p>
                <div class="hr"></div>
                <h6>Ernesto Calvo</h6>
                <h6>Kevin Estrada</h6>
                <h6>Bryan López</h6>
                <h6>Miguel Matul</h6>
                <h6>Edwin Vásquez</h6>
            </div>
        </div>
    </section>
    <footer>
        <p>Copyright &copy; 2024 GTek Equipo 1 e-Commerce | All Rights Reserved.</p>
    </footer>
</body>
</html>